body {
margin: 0;
}

/*Header*/

.header {
    position: fixed;
    width: 100%;
}

.dark-block {
    background-color: #202846;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    align-items: center;
   
}

.logo > img {
    width: 178px;
    height: 70px;
}

.navigation {
    padding: 0;
    margin: 0;
    width: 60%;
     
}

.navigation li {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    display: inline-block;
}

.navigation_items a {
    margin-left: 60px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    display: flex;
    opacity: 0.5;
    transition: opacity .3s;
    
}

.navigation_items a:hover {
    opacity: 1;
}

.blue-block {
    background-color: #C6C6DC;
    height: 140px;
    
}

.rezerv {
    font-size: 48px;
    color: #202846;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 42px 0;
    padding-left: 227px;
}

section {
    background-color: #F5F5F5;
    display: flex; 
    flex-direction: column;
    align-items: center;
    

}

.location {
    background-color: #E8E8E8;
    width: 80%;
    height: 73px;
    margin-top: 56px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
   
}

.location-text {
    font-size: 28px;
    padding-top: 1%;
    padding-right: 20px;
    padding-left: 574px;
    display: flex;
    justify-content: space-between;

}



.card{
    width: 78%;
    height: 300px;
    background: silver;
    margin-top: 53px;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
   
}

.card .img{
    background: #BDBDC6;
    margin: auto 0;
}



span {
   font-size: 36px;
   
}

.card .content{
     width: 50%;
     height: 30%;
     text-align: center;
     font-family: PT Sans;
     font-style: Regular;
     font-size: 22px;
    
    
}

h2 {
margin-top: 30px;
text-align: left;
border-bottom: 3px solid #FFFFFF;
}

.text {
    background: #D7D7DD;
    height: 165px;
    padding-top: 20px;
    
}

.star{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 50px;
}
.btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 40%;
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: #202846;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    text-align: center;
}

.card:hover path{
    fill: yellow;
   
   }

.card:hover {
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px #8686bd;
}

.card:hover .btn{
   background-color: #EF075B;
}